nav a, .login, .signup, .button-search > input, .button-criterion {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

body {
  background-color: white;
  margin: auto;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 80px;
  width: 1143px;
}

nav {
  margin-left: 59px;
  width: 698px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-part-first {
  width: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-part-second {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

nav a:link {
  color: #999999;
}

nav a:visited {
  color: #999999;
}

nav a:hover {
  color: #776fab;
  cursor: pointer;
}

nav a:active {
  color: #2E1AAD;
}

.login {
  width: 100px;
  height: 40px;
  background: white;
  border-radius: 8px;
  border: 1px solid #2E1AAD;
  color: #2E1AAD;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
}

.login:hover {
  cursor: pointer;
}

.signup {
  width: 100px;
  height: 40px;
  background: #2E1AAD;
  border-radius: 8px;
  border: 1px solid #2E1AAD;
  color: white;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
}

.signup:hover {
  cursor: pointer;
}

.authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 48px;
  width: 214px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.part-1 {
  background-color: #F5F7FA;
}

.part-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 763px;
  width: 1143px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 436px;
  padding-top: 71px;
  padding-bottom: 48px;
}

.first-screen-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
}

.subtitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #999999;
  margin-top: 28px;
}

.search-job {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 96px;
  background-color: white;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 32px;
}

.job-title > input {
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 331px;
  height: 52px;
  color: #999999;
  padding: 15px 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.job-place > input {
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 291px;
  height: 52px;
  color: #999999;
  padding: 15px 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.job-distance > select {
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 237px;
  height: 52px;
  color: #999999;
  padding: 15px 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  background-color: white;
}

.button-search > input {
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 115px;
  height: 52px;
  color: #999999;
  padding: 15px 16px;
  background-color: #2E1AAD;
  color: white;
  font-size: 16px;
}

.part-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 634px;
  width: 1143px;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  margin-top: 112px;
}

.criterion-title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}

.criterion-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 30px;
  width: 220px;
  height: 48px;
}

.container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.criterions {
  display: inherit;
  margin-top: 48px;
}

.first-criterions {
  margin-right: 32px;
}

.illustration-image {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part-3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 805px;
  width: 1143px;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.employers-criterions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.part-3 .main-title {
  margin-top: 170px;
}

.part-3 .container-content {
  width: inherit;
}

.part-3 .illustration-image {
  margin-top: 198px;
}

.part-3 .button-criterion {
  margin-top: 25px;
}

.button-criterion {
  width: 100px;
  height: 40px;
  background: #2E1AAD;
  border-radius: 8px;
  border: 1px solid #2E1AAD;
  color: #FFFFFF;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  width: 130px;
  height: 52px;
}

.button-criterion:hover {
  cursor: pointer;
}

.part-4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 687px;
  width: 1143px;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.part-4 .criterion-title {
  width: 220px;
}

.part-4 .illustration-image {
  margin-top: -72px;
}

.part-4 .main-title {
  margin-top: 136px;
}

.part-3 .first-criterions .criterion:nth-child(2), .part-4 .first-criterions .criterion:nth-child(2) {
  margin-top: 51px;
}

.part-5 {
  background-color: #ECF8FE;
}

.part-5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 846px;
  width: 1143px;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.part-5 .criterion-text, .part-6 .criterion-text {
  width: auto;
  margin-top: 8px;
}

.client-direction, .part-7 .news-title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  margin-top: 26px;
}

.client-comment, .part-7 .news-description {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.client-name {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.client-job {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.client-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 95px;
}

.client-information > div:nth-child(2) {
  margin-left: 12px;
}

.review {
  width: 350px;
  height: 410px;
  background-color: white;
  padding: 32px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.part-6 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 538px;
  width: 1143px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.part-6 .main-title {
  margin-top: 120px;
}

.part-6 .achievement .main-title {
  margin-top: 12px;
}

.part-6 .achievement .criterion-text {
  margin-top: 0px;
  margin-bottom: 32px;
}

.achievement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 255px;
  height: 266px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F7FA;
  border-radius: 16px;
  padding-top: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.part-7 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 595px;
  width: 1143px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.part-7 .cards {
  margin-top: 56px;
}

.news-card {
  width: 350px;
}

.part-7 .news-title {
  margin-top: 24px;
}

.part-7 .news-description {
  margin-top: 12px;
  color: #999999;
}

.part-8 {
  background-color: #999999;
}

.part-8 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 134px;
  width: 1143px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cookies-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 524px;
}

.use-cookies button {
  width: 112px;
  height: 40px;
  background: #231F20;
  border-radius: 100px;
  color: white;
  border: none;
}

.use-cookies button:hover {
  cursor: pointer;
}

.use-cookies {
  width: 681px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  background-color: black;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 360px;
  width: 1143px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36.57px;
  margin-bottom: 24px;
  color: white;
}

.footer-title:hover {
  cursor: pointer;
  color: #858ea8;
}

.footer-item {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #D9DBE1;
  margin-bottom: 12px;
}

.footer-item:hover {
  cursor: pointer;
  color: #858ea8;
}

footer .container > div, .footer-content:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container > div {
  width: 850px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content:nth-child(2) div:nth-child(1) {
  margin-right: 30px;
}

.menu__box, .authorization-img {
  width: 0;
  opacity: 0;
  padding: 0px;
}

.hamburger-menu {
  display: none;
}

.slider-dots {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.line-mobile {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.see-news {
  display: none;
}

@media (max-width: 1142px) and (min-width: 769px) {
  .see-news {
    display: none;
  }
  .line-mobile {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  .slider-dots {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  header .container {
    width: 769px;
  }
  .part-1 .container, .part-2 .container, .part-3 .container, .part-4 .container, .part-5 .container, .part-6 .container, .part-7 .container, .part-8 .container, footer .container {
    width: 769px;
  }
  nav {
    margin-left: 30px;
  }
  .nav-part-first {
    width: 140px;
  }
  .nav-part-second {
    width: 200px;
  }
  .authorization {
    margin-left: 15px;
    width: 400px;
  }
  .job-title > input {
    width: 231px;
  }
  .job-place > input {
    width: 191px;
  }
  .job-distance > select {
    width: 137px;
  }
  .button-search > input {
    width: 100px;
  }
  .first-screen-man > img {
    width: 455px;
    height: 306px;
  }
  .first-screen-title .title {
    font-size: 38px;
  }
  .part-2 .illustration-image img, .part-4 .illustration-image img {
    width: 280px;
    height: 280px;
  }
  .part-2 .illustration-image {
    margin-top: 8%;
  }
  .part-2 .first-criterions, .part-3 .first-criterions, .part-4 .first-criterions {
    margin-right: 15px;
  }
  .part-2 .criterion-text, .part-3 .criterion-text, .part-4 .criterion-text {
    margin-bottom: 15px;
    line-height: 20px;
  }
  .part-3 .illustration-image img {
    width: 274px;
    height: 272px;
  }
  .part-3 .illustration-image {
    margin-top: 40%;
    width: 50%;
  }
  .part-3 .first-criterions .criterion:nth-child(2) {
    margin-top: 41px;
  }
  .part-4 .illustration-image {
    margin-top: 3%;
    width: 38%;
  }
  .part-5 .review {
    width: 240px;
    height: 400px;
  }
  .part-5 .review > img {
    width: 55px;
    height: 32px;
  }
  .part-5 .client-direction, .part-5 .part-7 .news-title, .part-7 .part-5 .news-title {
    line-height: 24px;
    margin-top: 16px;
  }
  .part-5 .client-comment, .part-5 .part-7 .news-description, .part-7 .part-5 .news-description {
    line-height: 22px;
    margin-top: 12px;
  }
  .part-5 .client-information {
    margin-top: 35px;
  }
  .part-5 .client-job {
    line-height: 15px;
  }
  .part-6 .achievement {
    width: 175px;
    height: 246px;
  }
  .part-6 .achievement .main-title {
    font-size: 36px;
  }
  .part-7 .news-card img {
    width: 250px;
    height: 122px;
  }
  .part-7 .news-title {
    font-size: 16px;
    line-height: 24px;
  }
  .part-7 .news-description {
    font-size: 14px;
    line-height: 22px;
  }
  .menu__box, .authorization-img {
    width: 0;
    opacity: 0;
    padding: 0px;
  }
  .hamburger-menu {
    display: none;
  }
  body {
    margin: auto;
  }
}

@media (max-width: 768px) {
  body {
    margin: auto;
  }
  header .container {
    width: 280px;
  }
  .part-1 .container, .part-2 .container, .part-3 .container, .part-4 .container, .part-5 .container, .part-6 .container, .part-7 .container, .part-8 .container, footer .container {
    width: 280px;
  }
  nav, .authorization {
    opacity: 0;
    width: 0px;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #2E1AAD;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 1;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 260px;
    margin: 0;
    margin-top: 80px;
    list-style: none;
    background-color: white;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .authorization-img {
    margin-right: 24px;
    opacity: 1;
    width: 20px;
  }
  .hamburger-menu {
    width: auto;
    opacity: 1;
    display: block;
  }
  .menu__box > nav {
    opacity: 1;
    width: auto;
  }
  .menu__box .nav-part-first, .menu__box .nav-part-second, .menu__box > nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__box a {
    height: 52px;
    vertical-align: center;
    border-bottom: 1px #EBEBEB solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: black;
  }
  .first-screen-man > img {
    width: 208px;
    height: 155px;
  }
  .first-screen-title .title {
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 24px;
  }
  .first-screen-title .subtitle {
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 255px;
    margin-top: 10px;
  }
  .first-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-screen-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .part-1 .search-job {
    background-color: #F5F7FA;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .part-1 .job-title > input {
    width: 280px;
    margin-bottom: 14px;
  }
  .part-1 .job-place > input, .job-distance > select {
    width: 134px;
    margin-bottom: 18px;
  }
  .search-job {
    width: 280px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
  }
  .part-2 .illustration-image > img {
    width: 160px;
    height: 160px;
  }
  .part-2 .illustration-image, .part-3 .illustration-image {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .main-title {
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .criterion-title {
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 12px;
    width: 280px;
  }
  .criterion-text {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .part-2 .first-criterions, .part-2 .second-criterions .criterion:nth-child(1), .part-2 .second-criterions .criterion:nth-child(2), .part-2 .second-criterions .criterion:nth-child(4),
  .part-3 .second-criterions, .part-3 .first-criterions .criterion:nth-child(2), .part-3 .first-criterions .criterion:nth-child(3), .part-3 .first-criterions .criterion:nth-child(4),
  .part-4 .second-criterions, .part-4 .first-criterions .criterion:nth-child(1) {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  .part-2 .container-content, .part-4 .container-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .part-2 .main-title {
    position: relative;
    top: 225px;
    margin-top: 0px;
  }
  .part-2 .criterions, .part-3 .criterions, .part-4 .criterions {
    display: block;
    background: #F5F7FA;
    border-radius: 8px;
    width: 280px;
    height: 144px;
    padding-top: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .slider-dots {
    opacity: 1;
    width: 169px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 27px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dot {
    width: 8px;
    height: 8px;
    background: #CCCCCC;
    border-radius: 7px;
  }
  .dot:nth-child(2) {
    border: 2px solid #2E1AAD;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .part-2 .container, .part-3 .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .line-mobile {
    opacity: 1;
    width: 280px;
    height: 1px;
    background: #EBEBEB;
    border: none;
    margin-top: 43px;
    margin-bottom: 59px;
  }
  .part-3 .illustration-image > img {
    width: 163px;
    height: 162px;
  }
  .part-3 .container-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .part-3 .illustration-image {
    margin-top: 0px;
  }
  .part-3 .main-title {
    margin-top: 12px;
  }
  .part-3 .criterions {
    margin-top: 24px;
  }
  .part-3 .first-criterions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 280px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .part-3 .slider-dots {
    margin-top: 0px;
  }
  .part-3 .slider-dots {
    width: 146px;
  }
  .part-3 .button-criterion {
    width: inherit;
    margin-top: 30px;
  }
  .part-4 .illustration-image > img {
    width: 165px;
    height: 165px;
  }
  .part-4 .illustration-image {
    margin-top: 0px;
  }
  .part-4 .main-title {
    margin-top: 0px;
    position: relative;
    top: 220px;
  }
  .part-4 .container {
    margin-top: 160px;
    height: 535px;
  }
  .part-4 .criterion-title {
    width: 280px;
  }
  .part-4 .first-criterions .criterion:nth-child(2) {
    margin-top: 0px;
  }
  .part-4 .criterions {
    margin-top: 72px;
  }
  .part-4 .slider-dots {
    width: 77px;
    margin-top: 48px;
    margin-left: 102px;
  }
  .part-4 .button-criterion {
    margin-top: 30px;
    width: -webkit-fill-available;
  }
  .part-4 .first-criterions {
    margin-right: 0px;
  }
  .part-4 .line-mobile {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .part-5 .container {
    height: auto;
    padding-bottom: 43px;
  }
  .part-5 .cards, .part-6 .cards, .part-7 .cards, .use-cookies, .footer-content, footer .container > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .part-5 .review:nth-child(2), .part-5 .review:nth-child(3) {
    display: none;
  }
  .part-5 .review:nth-child(1) {
    width: inherit;
  }
  .part-5 .main-title {
    margin-top: 40px;
  }
  .part-5 .slider-dots {
    margin-left: 113px;
    width: 54px;
  }
  .part-6 .achievement {
    width: 280px;
    height: 166px;
    margin-bottom: 12px;
    padding-top: 24px;
  }
  .part-6 .container, .part-7 .container, .part-8 .container, footer .container {
    height: auto;
  }
  .part-6 img:nth-child(1) {
    width: 64px;
    height: 59px;
  }
  .part-6 img:nth-child(2) {
    width: 60px;
    height: 57px;
  }
  .part-6 img:nth-child(3) {
    width: 43px;
    height: 59px;
  }
  .part-6 img:nth-child(4) {
    width: 53px;
    height: 65px;
  }
  .part-6 .main-title {
    margin-top: 38px;
  }
  .part-7 .main-title {
    margin-top: 44px;
  }
  .part-7 .news-card {
    width: 280px;
  }
  .part-7 img {
    width: 280px;
    height: 182px;
  }
  .part-7 .cards {
    margin-top: 32px;
  }
  .part-7 .news-title {
    margin-top: 16px;
  }
  .part-7 .news-description {
    margin-top: 6px;
    margin-bottom: 40px;
  }
  .see-news {
    display: block;
    border: 1px solid #2E1AAD;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    height: 52px;
    background-color: white;
    color: #2E1AAD;
    margin-bottom: 57px;
  }
  .use-cookies, .cookies-text {
    width: 280px;
  }
  .use-cookies {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .cookies-text {
    margin-bottom: 7px;
  }
  .part-8 .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-title {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
  .footer-item {
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  footer .container > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content {
    width: 161px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content > div {
    width: inherit;
  }
  .footer-content:nth-child(2) div:nth-child(1) {
    margin-right: 0px;
  }
  footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */