$color: white;
@mixin nav-parts-header($width){
    width: $width;
    display: flex;
    justify-content: space-between;
}

@mixin header-authorization($background, $color){
    width: 100px;
    height: 40px;
    background: $background;
    border-radius: 8px;
    border: 1px solid #2E1AAD;
    color: $color;
    text-align: center;
    font-feature-settings: 'liga' off;
    
    &:hover{
        cursor: pointer;
    }
}

@mixin container($height){
    display: flex;
    align-items: center;
    margin: auto;
    height: $height;
    width: 1143px;
}

@mixin font($weight, $size){
    font-family: Manrope;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
}

@mixin input-search($width){
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    width: $width;
    height: 52px;
    color: #999999;
    padding: 15px 16px;
}

%font-header{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

body{
    background-color: $color;
}

header .container{
    @include container(80px);
}

nav{
    margin-left: 59px;
    width: 698px;
    display: flex;
    justify-content: space-between;
}

.nav-part-first{
    @include nav-parts-header(183px);

}

.nav-part-second{
    @include nav-parts-header(240px);
}

nav a{
    @extend %font-header;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;

    &:link{
        color: #999999;
    }

    &:visited{
        color: #999999;
    }

    &:hover{
        color: #776fab;
        cursor: pointer;
    }

    &:active{
        color:#2E1AAD;
    }
    
}

.login{
    @include header-authorization($background: white, $color: #2E1AAD);
    @extend %font-header;
}

.signup{
    @include header-authorization($background: #2E1AAD, $color: white);
    @extend %font-header;
}

.authorization{
    display: flex;
    margin-left: 48px;
    width: 214px;
    justify-content: space-between;
}

.part-1{
    background-color: #F5F7FA;
}

.part-1 .container{
    @include container(763px);
    flex-direction: column;
}

.first-screen{  
    @include nav-parts-header(inherit);
    height: 436px;
    padding-top: 71px;
    padding-bottom: 48px;
}

.first-screen-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    @include font(800, 48px);
}

.subtitle{
    @include font(400, 18px);
    color:#999999;
    margin-top: 28px;
}

.search-job{
    @include nav-parts-header(inherit);
    height: 96px;
    background-color: white;
    background: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 22px 32px;
}

.job-title > input{
    @include input-search(331px);
    @include font(800, 16px);
}

.job-place > input{
    @include input-search(291px);
    @include font(800, 16px);
}

.job-distance > select{
    @include input-search(237px);
    @include font(800, 16px);
}

.button-search > input{
    @include input-search(115px);
    background-color: #2E1AAD;
    @extend %font-header;
    color:white;
    font-size: 16px;
}