nav a, .login, .signup, .button-search > input, .button-criterion {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

body {
  background-color: white;
  margin: auto;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 80px;
  width: 1143px;
}

nav {
  margin-left: 59px;
  width: 698px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-part-first {
  width: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-part-second {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

nav a:link {
  color: #999999;
}

nav a:visited {
  color: #999999;
}

nav a:hover {
  color: #776fab;
  cursor: pointer;
}

nav a:active {
  color: #2E1AAD;
}

.login {
  width: 100px;
  height: 40px;
  background: white;
  border-radius: 8px;
  border: 1px solid #2E1AAD;
  color: #2E1AAD;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
}

.login:hover {
  cursor: pointer;
}

.signup {
  width: 100px;
  height: 40px;
  background: #2E1AAD;
  border-radius: 8px;
  border: 1px solid #2E1AAD;
  color: white;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
}

.signup:hover {
  cursor: pointer;
}

.authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 48px;
  width: 214px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.part-1 {
  background-color: #F5F7FA;
}

.part-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 763px;
  width: 1143px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 436px;
  padding-top: 71px;
  padding-bottom: 48px;
}

.first-screen-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
}

.subtitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #999999;
  margin-top: 28px;
}

.search-job {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 96px;
  background-color: white;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 32px;
}

.job-title > input {
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 331px;
  height: 52px;
  color: #999999;
  padding: 15px 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.job-place > input {
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 291px;
  height: 52px;
  color: #999999;
  padding: 15px 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.job-distance > select {
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 237px;
  height: 52px;
  color: #999999;
  padding: 15px 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.button-search > input {
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 115px;
  height: 52px;
  color: #999999;
  padding: 15px 16px;
  background-color: #2E1AAD;
  color: white;
  font-size: 16px;
}

.part-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 634px;
  width: 1143px;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  margin-top: 112px;
}

.criterion-title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}

.criterion-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 30px;
  width: 220px;
  height: 48px;
}

.container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.criterions {
  display: inherit;
  margin-top: 48px;
}

.first-criterions {
  margin-right: 32px;
}

.illustration-image {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part-3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 805px;
  width: 1143px;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.employers-criterions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.part-3 .main-title {
  margin-top: 170px;
}

.part-3 .container-content {
  width: inherit;
}

.part-3 .illustration-image {
  margin-top: 198px;
}

.part-3 .button-criterion {
  margin-top: 25px;
}

.button-criterion {
  width: 100px;
  height: 40px;
  background: #2E1AAD;
  border-radius: 8px;
  border: 1px solid #2E1AAD;
  color: #FFFFFF;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  width: 130px;
  height: 52px;
}

.button-criterion:hover {
  cursor: pointer;
}

.part-4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 687px;
  width: 1143px;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.part-4 .criterion-title {
  width: 220px;
}

.part-4 .illustration-image {
  margin-top: -72px;
}

.part-4 .main-title {
  margin-top: 136px;
}

.part-3 .first-criterions .criterion:nth-child(2), .part-4 .first-criterions .criterion:nth-child(2) {
  margin-top: 51px;
}

.part-5 {
  background-color: #ECF8FE;
}

.part-5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 846px;
  width: 1143px;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.part-5 .criterion-text, .part-6 .criterion-text {
  width: auto;
  margin-top: 8px;
}

.client-direction {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  margin-top: 26px;
}

.client-comment {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.client-name {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.client-job {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.client-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 95px;
}

.client-information > div:nth-child(2) {
  margin-left: 12px;
}

.review {
  width: 350px;
  height: 410px;
  background-color: white;
  padding: 32px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.part-6 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 538px;
  width: 1143px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.part-6 .main-title {
  margin-top: 120px;
}

.part-6 .achievement .main-title {
  margin-top: 12px;
}

.part-6 .achievement .criterion-text {
  margin-top: 0px;
  margin-bottom: 32px;
}

.achievement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 255px;
  height: 266px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F7FA;
  border-radius: 16px;
  padding-top: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.part-7 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 583px;
  width: 1143px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
/*# sourceMappingURL=style.css.map */